# Byte-compiled
__pycache__/
*.py[cod]

# Logs
*.log
mlruns/

# Data
ml/datasets/raw/
ml/datasets/processed/temp_*

# Environments
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/